.env
/vendor
.env
.env
.env
/E:\recruitment\uploads
# *.pdf
*.jpg
*.jpeg
.env
.env
/uploads
*.md
*.png
/database/migrations
/config
/public/D:\recruitment\uploads/document_adhaar
# *.pdf
/public/D:\recruitment\uploads
/public
*.md
/docs
/docs
docs/Static_Weightage_Transfer_Summary_Hindi.md
